<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create City</h1>
<form action="/create" th:object="${create}" method="post">
    <table>
        <tr>
            <th>Name City</th>
            <td><input th:field="*{nameCity}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('nameCity')}" th:errors="*{nameCity}"></span></td>
        </tr>
        <tr>
            <th>Name Country</th>
            <td>
                <select th:field="*{country}">
                    <option th:each="class :${countryList}" th:value="${class.id}" th:text="${class.nameCountry}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>area</th>
            <td><input type="number" th:field="*{area}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span></td>
        </tr>
        <tr>
            <th>population</th>
            <td><input type="number" th:field="*{danSo}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('danSo')}" th:errors="*{danSo}"></span></td>
        </tr>
        <tr>
            <th>GDP</th>
            <td><input type="number" th:field="*{GDP}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('GDP')}" th:errors="*{GDP}"></span></td>
        </tr>
        <tr>
            <th>description</th>
            <td><textarea th:field="*{moTa}"></textarea></td>
        </tr>
        <tr>
            <td>
                <button type="submit" onclick="return confirm('oke !')">create</button>
                <a href="/home">Back home</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
