<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>City Table</h2>
    <p>A-Z</p>
    <a href="/create">Create</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name City</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c, loop : ${home}">
            <td th:text="${loop.count}"></td>
            <td><a th:text="${c.nameCity}" th:href="@{/detail/{id}(id = ${c.id})}"></a></td>
            <td th:text="${c.country.nameCountry}"></td>
            <td>
                <a th:href="@{/edit/{id}(id = ${c.id})}">edit</a>
                <a th:href="@{/delete/{id}(id = ${c.id})}" onclick="return confirm('you sure?')">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
