<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">create</a>
<table>
    <tr>
        <th>name</th>
        <th>author</th>
        <th>type</th>
        <th>music</th>
        <th>action</th>
    </tr>
    <tbody>
    <tr th:each="c, loop : ${home}">
        <td th:text="${c.name}"></td>
        <td th:text="${c.author}"></td>
        <td th:text="${c.type}"></td>
        <td><audio th:src="${c.fileMusic}" controls></audio></td>
        <td><a th:href="@{/delete/{index}(index = ${loop.index})}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>