<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post">
    <table th:object="${create}">
        <tr>
            <td>
                <p>first name</p>
                <input type="text" name="firstName" th:text="*{firstName}">
                <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </td>
            <td>
                <p>last name</p>
                <input type="text" name="lastName" th:text="*{lastName}">
                <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </td>
        </tr>
        <tr>
            <td><button type="submit">create</button></td>
        </tr>
    </table>
</form>
</body>
</html>