<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>manager customer</h4>
<a href="/create">create</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>gmail</th>
        <th>action</th>
    </tr>
    <tbody>
    <tr th:each="c, loop: ${customer}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.getName()}"></td>
        <td>
            <a th:href="@{/edit/{id}(id = ${loop.index})}">edit</a>
            <a th:href="@{/delete/{id}(id = ${loop.index})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>