<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Create Blog</h2>
<form method="post">
    <div th:object="${edit}">
        <h3>id:</h3><input type="text" name="id" th:value="*{id}"/><br>
        <h3>author:</h3><input type="text" name="author" th:value="*{author}"/><br>
        <h3>date:</h3><input type="date" name="date" th:value="*{date}"/><br>
        <h3>name:</h3><input type="text" name="name" th:value="*{name}"/><br>
        <h3>content:</h3><textarea cols="120" rows="25"  name="content" th:value="*{content}"></textarea>
        <button>create</button>
    </div>
</form>
</body>
</html>