<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">create</a>
<table border="1">
    <tr>
        <th>#</th>
        <th>name</th>
        <th>comment</th>
        <th>img</th>
        <th>123</th>
    </tr>
    <tbody>
    <tr th:each="c, loop: ${home}">
        <td th:text="${loop.count}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.description}"></td>
        <td><img th:src="${c.image}" width="150" height="150"></td>
    </tr>
    </tbody>
</table>
</body>
</html>